.post {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

textarea, .promptBox {
  border-bottom-width: 1px;
  border-color: rgb(0, 0, 0);
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  place-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(242 242 242);
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  gap: 10px;
  height: 150px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 610px;
  max-width: 1200px;
  will-change: transform;
  overflow: auto;
  outline: none;
  resize: none;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0px;
  line-height: 1.6em;
  text-align: start;
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
  text-transform: none;
}